@import "./variables.scss";
@each $key, $value in $font-sizes {
    .#{$key} {
      font-size: $value;
    }
  }
  
  @each $key, $value in $colors {
    .#{$key} {
      color: $value;
    }
  
    .bg-#{$key} {
      background-color: $value;
    }
  
    .bd-#{$key} {
      border: 1px solid $value;
    }
  }

.bold{
  font-weight: bold;
}