// 字体
$font-sizes: (
  fs24: 24rpx,
  fs26: 26rpx,
  fs28: 28rpx,
  fs30: 30rpx,
  fs32: 32rpx,
  fs34: 34rpx,
  fs36: 36rpx,
  fs38: 38rpx,
  fs40: 40rpx,
  fs44:44rpx,
  fs48:48rpx
);

// 颜色
$colors: (
  c1: #FFFFFF,
  c2: #0079FE,
  c3: #333,
  c4: #444,
  c5: #d8d9da,
  c6: #666,
  c7: #777,
  c8: #888,
  c9: #999,
  c10:#eee
);

